* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.topo {
    background-color: #f26522;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 10px;
}

.rodape {
    background-color: #f26522;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

.conteudo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 40px;
}


.logo-section {
    text-align: center;
}

.logo-section img {
    max-width: 250px;
    height: auto;
}

.login-box {
    background-color: #f26522;
    padding: 30px 40px;
    border-radius: 15px;
    width: 300px;
    color: white;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
}

.login-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #f26522;
    font-weight: bold;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #f1f1f1;
}

#mensagem {
    position: fixed;
    bottom: 20px;
    right: 20px;
    min-width: 250px;
    max-width: 300px;
    padding: 12px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.mensagem-sucesso {
    background-color: #4CAF50;
}

.mensagem-erro {
    background-color: #f44336;
}