body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
}

.top-bar {
    background-color: #f26522;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-box img {
    width: 150px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    line-height: 1.1;
    font-size: 18px;
}

.welcome-text {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.menu-bar {
    margin: 0 auto;
    margin-top: -20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 30px;
    max-width: 600px;
    z-index: 1;
    position: relative;
}

.menu-item {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.menu-item span {
    display: block;
    font-size: 14px;
    margin-top: 5px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.carousel-track {
    display: flex;
    transition: transform 1s ease-in-out;
    width: fit-content;
}

.carousel-slide {
    flex: 0 0 33.3333%;
    box-sizing: border-box;
    padding: 0 5px
}

.carousel-slide img {
    width: 100%;
    height: auto;
    display: block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-conteudo {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}


.modal-conteudo h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.input-modal {
    width: 90%;
    max-width: 260px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    left: 0;
}

.btn-adicionar {
    width: 90%;
    max-width: 260px;
    padding: 10px;
    background-color: #f26522;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    color: #888;
}

.upload-icon {
    width: 40px;
    margin-bottom: 5px;
}

.btn-adicionar {
    width: 100%;
    padding: 10px;
    background-color: #f26522;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.btn-adicionar:hover {
    background-color: #e15510;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    z-index: 10;
}

.fechar:hover {
    color: red;
}

.modal-conteudo {
    position: relative;
}

.card-link {
    text-decoration: none;
}

.card-link p {
    text-decoration: none;
    color: inherit;
}

.upload-box {
    text-align: center;
    margin-top: 20px;
}

.upload-label {
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.upload-label img {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto 5px;
}

.upload-label span {
    display: block;
    font-size: 14px;
    color: #333;
}

.nome-arquivo {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: auto;
    margin-right: auto;
}

#mensagem {
    position: fixed;
    bottom: 20px;
    right: 20px;
    min-width: 250px;
    max-width: 300px;
    padding: 12px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: none;
}

.mensagem-sucesso {
    background-color: #4CAF50;
}

.mensagem-erro {
    background-color: #f44336;
}